@import "../../../globalStyles/scss/variables.scss";

.category {
  &__header {
    text-align: center;
    padding-top: $spacer * 4.5;
    padding-bottom: $spacer * 4.5;
    background-size: cover;
    background-color: $blue-overlay;
    background-blend-mode: multiply;

    &__title {
      background-color: $white;
      display: inline-block;
      transform: skew(-45deg);
      padding: 1.5vw 9vw;

      h1 {
        display: inline-block;
        transform: skew(45deg);
        font-weight: $bold-font-weight;
        text-transform: uppercase;
        color: $blue;
        font-size: 8vw;
        font-weight: 900;

        @media (min-width: $small-screen) {
          font-size: 4vw;
        }
      }
    }
  }
}

.collection {

  height: 100%;

  &__headercontainer {
    height: 100%;
    width: 100%;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    //border: 1px solid black;
  }

  &__imagecontainer {
    background-color: rgba(33, 18, 94, 0.15);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    width: 100%;
    //border: 1px solid blue;

    @media (max-width: $small-screen) {
      padding: 50%;
    }
  }

  &__descriptioncontainer {
    background-image: url($mesh-background-image);
    background-repeat: repeat;
    background-position: left top;
    width: 100%;
    padding-top: 17.5%;
    padding-bottom: 17.5%;


    h1{
      font-family: $base-font-family;
      font-size: 2rem;
    }

    h2 {
      font-family: $base-font-family;
      font-size: $base-font-size
    }
  }

  &__name {
    width: 100px;
    //border: 2px solid green;
    text-align: left;
    margin-left: 50px;
  }

  &__descriptionbody {
    //border: 2px solid black;
    max-width: 80%;
    margin-top: 5%;
    margin-left: 50px;
    text-align: left;
  }

  &__flexcontainer {
    display: flex;
    flex-direction: row;

    @media (max-width: $small-screen) {
      flex-direction: column;
    }
  }
}
