@import "../../../globalStyles/scss/variables.scss";



.home-page {
  background-image: url($mesh-background-image);
  background-repeat: repeat;
  background-position: left top;
  
  &__hero {
    margin-top: -125px;
    margin-bottom: 60px;
    background-color: $blue-overlay;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 30%;

    &-text {
      overflow: hidden;
    }

    @media (max-width: $small-screen) {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 70px);
      width: 500px;

      &-text {
        margin-top: $spacer * 5;
        width: 100%;
      }

      &-action {
        margin-bottom: $spacer * 3;
        width: 100%;
      }
    }

    &__title {
      background-color: $white;
      display: inline-block;
      transform: skew(45deg);
      padding: $spacer $spacer * 3;
      margin-bottom: $spacer / 2;

      @media (max-width: $small-screen) {
        padding: 0.6rem $spacer;
        width: calc(100% - 4rem);
      }

      h1 {
        display: inline-block;
        transform: skew(-45deg);
        text-transform: uppercase;
        color: $blue;
        font-size: $h1-font-size;
        font-weight: 900;

        @media (max-width: $small-screen) {
          font-size: $h4-font-size;
        }

        @media (min-width: $small-screen) and (max-width: $medium-screen) {
          font-size: 48px;
        }
      }
    }
  }

  // NAVBAR STYLING
  &__navbar {
    //border: 1px solid red;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
      //border: 1px solid black;
      height: 50%;
      width: 77.5%;
      margin-right: auto;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    h5 {
      text-transform: uppercase;
      padding: 5px;
    }

    @media (max-width: $small-screen) {
      display: none
    }

  }

  &__texttop {
    font-size: 42px;
    text-align: left;
    line-height: 42px;
    width: 77%;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &__texttopbottom {
    font-size: 19px;
  }


  &__collections {
    margin-top: 2rem;
    margin-bottom: 7rem; 
    background-color: transparent;
    &__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;


      @media (min-width: $small-screen) {
        grid-template-columns: 1fr 1fr;

        > div {

          &:nth-child(n + 7) {
            display: none;
          }
        }
      }

      a {
        text-decoration: none;
        color: $base-font-color;

        h3 {
          text-transform: uppercase;
        }


      }

      &__image {
        width: 96%;
        height: 28rem;
        background-size: cover;
        background-position: center;
        margin-bottom: 1rem;
        position: relative;
        overflow-y: hidden;
        border-radius: 8.4px;
        &--no-photo {
          background-color: $turquoise-light;
          background-repeat: no-repeat;
          background-size: contain;
        }

        &__text{
          background-color: rgba(white, 0.5) ;
          text-align: center;
          height: 30%;
          width: 100%;
          position: absolute;
          bottom: 0;
          padding-top: 48px;
          font-size: 40px;
          overflow-y: hidden;
          h3{
            margin-bottom: 70px;
          }
          &__hidden{
            font-size: 17px;
          }

          &:hover{
            height: 100%;
            padding-top: 100px;
            h3{
              margin-bottom: 30px;
            }
          }
        }
      }

      

      
    }
  }
}
