@import "../../../globalStyles/scss/variables.scss";

.search-container {
    background-color: $gray;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -1.5px;


    @media(max-width: 540px) {
        display: none;
    }
}

.search {
    background-color: $gray;
    &::placeholder {
        color: black;
    }

    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    padding-left: 5px;
    height: 30px;
    width: 500px;

    border: 1px solid $gray;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    &:focus {
        outline: none;
    }

    @media(max-width: 1200px) {
        width: 250px;
    }
}

.results-flex {
    display: flex;
    margin-top: 10px;
    height: 30px;
    width: 200px;
    padding: 3px;
    margin-left: -10px;
    width: 498px;

    @media(max-width: 1200px) {
        width: 248px;
    }

    &:hover {
        background-color: $gray-light;
    }

    h4 {
        font-size: $base-font-size;
        margin-left: 5px;
        margin-top: 1px;
        font-weight: $bold-font-weight;
    }

    p {
        font-size: $small-font-size;
        color: $gray-dark;
        font-weight: $bold-font-weight;
    }
}

.category-container {
    margin-top: -1px;
    margin-left: 30px;
}

.results-container {
    z-index: 1000;
    padding: 10px;
    background-color: white;
    border-top: 1px solid $gray-dark;
    border-bottom: 1px solid $gray-dark;
    border-left: 1px solid $gray-dark;
    border-right: 1px solid $gray-dark;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: 10px;
    min-height: 100px;
    width: 500px;
    position: absolute;
    
    display: flex;
    flex-direction: column;

    @media(max-width: 1200px) {
        width: 250px;
    }

    ul {
        justify-content: flex-start;
    }
}

.product-not-found-container {
}

.style-not-found {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}
