@import "../../../globalStyles/scss/variables.scss";

.products-featured {
  padding: 3.2rem 0 4rem;
  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: auto;
  }

  h3 {
    font-size: 30px;
    font-weight: $bold-font-weight;
    margin-bottom: $spacer * 2;
    color: $purple;
    max-width: 1140px;
    margin: auto;
    margin-bottom: 34px;
  }

  a {
    color: $base-font-color;
    display: inline-block;
    text-decoration: none;
  }
}