@import "../../../globalStyles/scss/variables.scss";

.product-list-item {
  flex-basis: 212px;
  flex-grow: 1;
  margin-bottom: 70px;

  @media (max-width: $small-screen) {
    flex-basis: auto;
    flex-grow: 0;
    padding-left: 0px;
    margin-bottom: 70px;
  }
  
  &:first-child {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;

    @media(max-width: $small-screen) {
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
      
    }
  }
  
  &:nth-child(2n) {
    padding-left: 12px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;

    @media(max-width: $small-screen) {
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
      
    }
  }
  &:nth-child(3n) {
    padding-left: 25px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;

    @media(max-width: $small-screen) {
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
      
    }
  }
  &:nth-child(4n) {
    padding-left: 36px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;

    @media(max-width: $small-screen) {
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
      
    }
  }
  &:nth-child(5n) {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;

    @media(max-width: $small-screen) {
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  &__text {
    margin-left: 0px;
  }

  &__title {
    font-weight: $product-item-title-font-weight;
    margin-top: $spacer* 1.2;
    text-align: left;

    @media (max-width: $small-screen) {
      //text-align: center;
    }
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
  }

  &__category {
    color: $base-font-color;
    text-align: left;

    @media (max-width: $small-screen) {
      //text-align: center;
    }
  }

  &__price {
    font-weight: $product-item-price-font-weight;
    margin-left: 0px;
    text-align: left;

    @media (max-width: $small-screen) {
      margin-left: 0px;
      margin-top: 10px;
      //text-align: center;
    }
  }

  &__image {
    text-align: center;
    height: 298px;
    width: 241px;
    overflow: hidden;

    img {
      height: 298px;
      width: 241px;
      border: 1px;
      border-radius: 12px;
      @media (max-width: $small-screen) {
        height: auto;
        width: 100%;
      }
    }

    @media (max-width: $small-screen) {
      height: 400px;
      width: auto;
    }
  }

  &__color_select {
    // margin-left: 70px;
    // margin-top: -2px;
    // min-height: 40px;

    @media (max-width: $small-screen) {
      margin-left: 0px;
    }
  }
}