@import "../../../globalStyles/scss/variables.scss";

.product-list-item {
  text-align: center;
  
  width: 260px;
  max-width: 260px;
  margin-right: 20.8px;
  overflow: hidden;
  &__text {
    margin-left: 16px;
  }

  &__title {
    font-weight: $product-item-title-font-weight;
    margin-top: $spacer* 1.4;
    text-align: left;
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
  }

  &__category {
    color: $product-item-category-color;
    text-align: left;
  }

  &__price {
    font-weight: $product-item-price-font-weight;
    
    text-align: left;
  }

  &__image {
    display: flex;
    height: 350px;
    justify-content: center;
    
    img {
      object-fit: contain;
      border-radius: 12px;
      
    }

    @media (max-width: $small-screen) {
      height: 210px;
    }
  }

  &__color_select {
    
  }
}