@import "../../../globalStyles/scss/variables.scss";

.product-list-item-nf {

  flex-basis: 212px;
  flex-grow: 1;
  padding-left: 10px;
  margin-bottom: 70px;

  @media (max-width: $small-screen) {
    flex-basis: auto;
    flex-grow: 0;
    padding-left: 0px;
    margin-bottom: 70px;
  }

  &__text {
    margin-left: 0px;
  }

  &__title {
    font-weight: $product-item-title-font-weight;
    margin-top: $spacer* 1.2;
    text-align: left;

    @media (max-width: $small-screen) {
      //text-align: center;
    }
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
  }

  &__category {
    color: $base-font-color;
    text-align: left;

    @media (max-width: $small-screen) {
      //text-align: center;
    }
  }

  &__price {
    font-weight: $product-item-price-font-weight;
    text-align: left;
  }

  &__image {
    text-align: center;
    height: 317px;
    width: 256px;
    overflow: hidden;
    
    img {
      height: 317px;
      width: 256px;
      //object-fit: contain;
      border: 1px;
      border-radius: 12px;

      @media (max-width: $small-screen) {
        height: auto;
        width: 100%;
      }
    }

    @media (max-width: $small-screen) {
      height: 400px;
      width: auto;
    }
  }

  &__color_select {

  }
}

.product-list-item-nf-large {
  
  flex-basis: 212px;
  flex-grow: 1;
  padding-left: 32.5px;
  margin-bottom: 70px;

  @media (max-width: $small-screen) {
    flex-basis: auto;
    flex-grow: 0;
    padding-left: 0px;
    margin-bottom: 70px;
    margin-left: 7px;
  }

  &__text {
    margin-left: 0px;
  }

  &__title {
    font-weight: $product-item-title-font-weight;
    margin-top: $spacer* 1.2;
    text-align: left;

    @media (max-width: $small-screen) {
      //text-align: center;
    }
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
  }

  &__category {
    color: $base-font-color;
    text-align: left;

    @media (max-width: $small-screen) {
      text-align: center;
    }
  }

  &__price {
    font-weight: $product-item-price-font-weight;
    text-align: left;
  }

  &__image {
    text-align: center;
    height: 415px;
    width: 335.2px;
    overflow: hidden;
    img {
      height: 415px;
      width: 335.2px;
      border: 1px;
      border-radius: 12px;

      @media (max-width: $small-screen) {
        height: auto;
        width: 100%;
      }
    }

    @media (max-width: $small-screen) {
      height: 450px;
      width: auto;
    }
  }

  &__color_select {

  }
}