@import "../../../globalStyles/scss/variables.scss";

.product-list-item-nonfeatured {
  text-align: center;
  
  width: 260px;
  max-width: 260px;
  margin-right: 20.8px;
  
  
  &__text {
    margin-left: 18px;
  }

  &__title {
    font-weight: $product-item-title-font-weight;
    margin-top: $spacer* 1.2;
    text-align: left;
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
  }

  &__category {
    color: $base-font-color;
    text-align: left;
  }

  &__price {
    font-weight: $product-item-price-font-weight;
    margin-left: 18px;
    text-align: left;
  }

  img {
    margin-left: 0;
    border-radius: 12px;
    width: 200px;
    height: 400px;
  }

  &__image {
    
    margin-left: 0;
    border-radius: 12px;
    width: 200px;
    height: 400px;
    overflow: hidden;
    img {
      
      
    }

    @media (max-width: $small-screen) {
      height: 210px;
    }
  }

  &__color_select {
    margin-left: 16px;
    margin-top: -2px;
  }
}