@import "../../../globalStyles/scss/variables.scss";

.footer {
  &__favicons {
    border-top: 1px solid $gray-light;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  &__logo {
    width: 175px;
    margin: 0 auto;
  }

  &__c {
    width: 170px;
    font-size: 0.675rem;
    margin: 0 auto;
    cursor: default;
    text-align: center;
  }

  &__navcontainer {
    border: 1px solid black;
    height: 100%;
  }

  &__menu {
    background-color: $gray-light;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;

      div {
        &:not(:last-of-type) {
          padding-right: $spacer * 3;
        }
      }
    }

    &-section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
      }

      &-content {
        p {
          font-weight: $bold-font-weight;
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray;

          a {
            text-decoration: none;
            color: $gray;
          }
        }
      }
    }
  }

  &-nav {
    // border: 1px solid red;
    background-color: $gray-light;
    // padding: $spacer * 3 0 $spacer * 2;
    padding: 3rem 0 0rem;

    .container {
      // display: flex;
      // flex-wrap: wrap;

      // border: 1px solid blue;
      width: 200px;
      text-align: center;
      padding-top: 10px;
      margin-top: -40px;

      div:not(:last-of-type) {
        // padding-right: $spacer * 3;
      }
    }

    &__section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
        text-transform: uppercase;

        a {
          font-family: $base-font-family;
          font-size: $small-font-size;
        }
      }

      &-content {
        p {
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray;

          a {
            text-decoration: none;
            color: $gray;    
          }
        }
      }
    }
  }
}
