@import "../../../../../globalStyles/scss/variables.scss";



.products-listed {
  padding: 3.2rem 0 4rem;
  overflow: hidden;
  &__container {
    @media (min-width: $small-screen) {
      > a {
        &:nth-child(n + 5) {
          
        }
      }
    }
  }

  h3 {
    font-size: 30px;
    font-weight: $bold-font-weight;
    margin-bottom: $spacer * 2;
    color: $purple;
  }

  a {
    color: $base-font-color;
    display: inline-block;
    text-decoration: none;
  }

  @media(max-width: $small-screen) {
    text-align: center;
  }
}